// DOCTOR :: START

mixin doctorBlock(classMod, imgClassMod, imgExt, imgName, doctorName, doctorPos, hrefVal, modalText)
  .doctor__block(class!= "doctor__block-" + classMod)
    .doctor__block-img
      +pictureTag(false, "", imgClassMod, imgExt, imgName)

    p.doctor__block-name!= doctorName
    p.doctor__block-pos!= doctorPos
    a.doctor__block-link(
      href!= hrefVal
      title="" class=""
    )!= "View  Bio"

    .doctor__block-info
      a(
        href="#"
        title="" class=""
      )!= "X"
      p!= modalText

section#doctor.doctor
  .c-grid
    h1.doctor__title.title!= "Our Doctors"

    .doctor__block-wrapper

      +doctorBlock(
        "0",
        "object-fit-containCenter", "png", "img-doctor-0",
        "Dr. Varghese Chacko", "Pedodontics & Preventive Dentistry<br><span>B.D.S, M.D.S</span>",
        "#",
        "Dr Varghese Chacko completed his B.D.S from College of Dental Surgery, Manipal, Manipal Academy of Higher Education in the year 2000. He later completed his M.D.S in the speciality of Pedodontics and Preventive Dentistry in the year 2004 from Government Dental College, Trivandrum , Kerala University. He has over 14 years of experience in the speciality of Pediatric Dentistry and is currently working as Professor in the department of Dentistry at Dr.Somervell Memorial CSI Medical College, Karakonam."
      )
      +doctorBlock(
        "1",
        "object-fit-containCenter", "png", "img-doctor-1",
        "Dr. Suvy Manuel", "Oral & Maxillofacial Surgeon<br><span>BDS, MDS, DNB, MNAMS, MFDS RCS Eng, MOS RCS Ed, FDS RCS Ed</span>",
        "#",
        "Dr Suvy Manuel FDS RCS Ed, is a consultant oral and maxillofacial surgeon based at trivandrum.  His services in this clinic include dental extractions, surgical removal of teeth, surgical removal of impacted third molar (wisdom) teeth and other minor oral surgeries. Dr Manuel will also be available for consultation by prior appointment on diseases affecting the jaws   (pathologies), jaw deformities ( orthognathic surgery) and injuries affecting the oro facial region ( maxillofacial trauma)."
      )
      +doctorBlock(
        "2",
        "object-fit-containCenter", "png", "img-doctor-2",
        "Dr.Deepu Leander", "Orthodontics & Dentofacial Orthopedics<br><span>B.D.S, M.D.S</span>",
        "#",
        "Dr Deepu  is an alumini of GOVERNMENT DENTAL COLLEGE TRIVANDRUM . APart from being a busy consultant he is also currently professor in orthodontics at one of the leading private dental colleges in Kerala and is actively involved in postgraduate teaching. He has numerous publications to his credit."
      )

// DOCTOR :: END