// HEADER :: START


header#header.header
  .c-grid
    .header__wrapper
      .header__wrapper-left
        
        .logotype
          a(
            href="/" 
            title="" class=""
          )
            img(
              srcset="./img/img-logo.png, ./img/img-logo@2x.png 2x"
              alt="" title=""
             )
            p!= "Children’s Speciality<br>Dental Clinic"

        +hamburger()
        
      .header__wrapper-right.header__wrapper-mobile(mobile-block-js)
        .header__wrapper-top
          a(
            href="tel:9945903313"
            title="" class=""
          )!= "Call - 9945903313"

        .header__wrapper-bottom
          +nav('header', dataObj.navHeader)

// HEADER :: END