// MAIN :: START

section#main.main
  .main__bg
    img.main__bg--bottom(
      srcset="./img/img-bg-main.png, ./img/img-bg-main@2x.png 2x"
      alt="" title=""
     )
    #main__bg
      img.main__bg--ppl-0(
        data-depth="0.25"
        src="./img/img-ppl-main-0.png"
        alt="" title=""
       )
      img.main__bg--ppl-1(
        data-depth="0.15"
        src="./img/img-ppl-main-1.png"
        alt="" title=""
       )

  img.main__corner(
    src="./img/img-corner-main.png"
    alt="" title=""
   )

  .c-grid

    h1.main__title!= "Providing quality and evidence based <br>treatment for children of all age groups"

    .main__text-wrapper
      p.main__text!= "Located at Golf Links Road, Kowdiar it is one of the few clinics in the city providing treatment exclusively for children. Believing in the philosophy, “Starting Early Makes a difference”, the clinic aims to meet the dental and oral health needs of children right from infancy through childhood and adolescence."
      .main__text-hide
        p.main__text!= "The clinic has been designed to be “child friendly” and provide an environment where the child and parents feel relaxed and comfortable."
        p.main__text!= "The staff is well trained to provide the best possible treatment for the child and at the same time instil a positive attitude in the child towards dental treatment which is the key to enjoying good oral health later in his/ her adult life."

      a.main__text-more(
        href="#"
        title="" class=""
      )!= "Read more"

// MAIN :: END