// TESTIMONIALS :: START


mixin swiperTestimonialsContent()
  .swiper-slide
    p!= "Highly ethical, proficient, and efficient. I am so grateful I found them through a friend who works in the dental field. Varghese was spoken highly about by numerous independent sources"
    p!= "Benjamin David"
  .swiper-slide
    p!= "Dr. Varghese is AWESOME! We have been to many dentists before and we haven't met anyone so nice and charming dentist like him. He will make you feel comfortable and relax. We're so glad that he is our family dentist now!"
    p!= "Biju Philip"
  .swiper-slide
    p!= "Best dental office in the city for children. Dr Varghese was amazing, answered all my questions profecienal, He is very professional and gentle. I highly recommend CSDC to my friends... 5/5. Thank you"
    p!= "Jonathan"


section#testimonials.testimonials
  .c-grid

    h1.testimonials__title.title!= "Testimonials"

    .testimonials__wrapper
      img(
        srcset="./img/img-bg-testimonials.png, ./img/img-bg-testimonials@2x.png 2x"
        alt="" title=""
       )

      .testimonials__text
        +swiper('swiper-container--testimonials', 'swiperTestimonialsContent', false, false, false)



// TESTIMONIALS :: END